@charset "utf-8";
/* CSS Document */
h1 {
	color:white;
	font-family:arial;
}
h2 {
	color:white;
	font-family:arial;
}
h3 {
	color:white;
	font-family:arial;
}
h4 {
	color:white;
	font-family:arial;
}
p {
	color:white;
	font-family:arial;
}


