@charset "utf-8";
/* CSS Document */
h1 {
	color: white;
	font-family: arial;
	text-align: center;
	
}

h2 {
	color: white;
	font-family: arial;
	text-align: center;
}

h3 {
	color: white;
	font-family: arial;
	text-align: center;
}

h4 {
	color: white;
	font-family: arial;
	text-align: center;
}

p {
	color: white;
	font-family: arial;
	text-align: center;
}


